////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really
//  hold nothing except for imports of your base, layout, and design
//  partials.
////////////////////////

@import 'config/config';

@import 'global/extendables';
@import 'global/_normalize.css.scss';
@import 'global/type';

@import 'leaflet';
@import 'leaflet.label';

body {
  background-color: $grey-light;
  color: $grey-dark;
  margin: 1em 0 2em 0;
}


.container {
  margin: 0 auto;
  max-width: $max-width;

  background: lighten($grey-light, 2.5%);
  border: 1px solid darken($grey-mid, 5%);
  @include box-shadow(0 0 6px rgba($black, 0.25));
  @include border-radius(3px);
}


header {
  padding: 1em;
  background: lighten($grey-light, 5%);
  @include border-radius(3px 3px 0 0);

  h1 {
    margin: 0;
  }
}

main {
}

#map {
  width: auto;
  height: 320px;

  @include respond-to('map short')  { height: 340px; }
  @include respond-to('map medium') { height: 420px; }
  @include respond-to('map tall')   { height: 520px; }
  @include respond-to('map xtall')  { height: 680px; }
}

footer {
  padding: 1em;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 1em;
    }

    @include respond-to('footer three col') {
      display: flex;
      border-left: 1px solid darken($grey-light, 2.5%);
      border-right: 1px solid lighten($grey-light, 7.5%);

      li {
        flex: 1 1;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 0;
        text-align: center;

        border-left: 1px solid lighten($grey-light, 7.5%);
        border-right: 1px solid darken($grey-light, 2.5%);
      }
    }

  }
}
